// 03._pages.scss

@import "_modules/_variables.scss";
@import "_modules/_mixins.scss";

@import "compass";
@import "compass/css3";
@import "compass/css3/transform";

/********************************************************** Layout */

body {
  color: $white;
  position: relative;
  overflow: hidden;
  background-color: #4f4563;
}
#loading {
  height: 80px;
  width: 100%;
  background: black;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: -1;
}
.panel svg {
  margin: 0 auto;
  width: 288px;
  display: block;
  z-index: 999;
}
#background-scene {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: #4f4563;
  background-size: 100%;
  width: 100%;
  height: auto;
  &.forrest {
    background: url('../../images/background.png');
    background-repeat: repeat-x;
    background-position: 0 28%;
  }
  &.r0{
     -webkit-animation: play1 0s 0s steps(0) infinite;
  } 
  &.r1{
     -webkit-animation: play1 40s 0s steps(1000) infinite;
  }
  &.r2{
     -webkit-animation: play1 40s 0s steps(650) infinite;
  } 
  &.r3{
     -webkit-animation: play1 40s 0s steps(650) infinite;
  }
}

@-webkit-keyframes play1 {
  from { background-position-x: 500px; }
  to  {  background-position-x: 0px; }
}    


#wrapper {
  height: 100%;
  top: 0px;
  z-index: 1;
  left: 0;
  position: absolute;
  width: 100%;
}

.weather-icon {
  font-size: 3em;
}

.weather-temp {
  font-size: 4em;
  display: inline-block;
}

#slider {
  width: 200px;
}

#hero {
  height: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  .panel {
    @include opacity(0);
    display: none;
  }
  .panel.active {
    @include opacity(1);
    display: block;
  }
  ul, li, .home, .detail  {
    @include transition-property(all);
    @include transition-duration(.6s);
  }
  #weather-icon {
    display: block; 
    padding: 10px 0 20px;
    height: 78px;
  }
  #weather-temp {
    font-size: 2.6em;
    display: inline-block;
  }
  #weather-loc {
    font-size: .5em;
    display: block;
  }
  ul {  
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      display: block;
      text-align: left;
    }
  }
  #top-row, #bottom-row {
    text-align: left;
    margin-left: 20px;

    li, #mph {
      position: relative;
      width: 55px;
    }

    li:before, #wind {
      position: absolute;
      left: -20px;
      text-align: center;
    }
  }
  #top-row {
    margin-left: 30px;
  }
  #summary {
    padding: 12px 0;
  }
}

#weather-details {
  @include transition-property(left );
  @include transition-duration(2s);
  float: left;
  font-size: 1em;
  left: 100px;
  position: absolute;
  text-align: left;
  top: 5%;
  width: 210px;

  ul { padding: 0; }
  li {
    position: relative;
    margin: 0 10px 10px 0;
    padding: 0px;
    &:nth-child(1){
      width: 20px;
    }
    &:nth-child(2){
      width: 65px;
     }
    &:nth-child(3){
      width: 68px;
      margin: 0 0 10px 0;
   }
  }
  #mph {
    position: relative;
  }
  #wind {
    float: left;
    line-height: 1em;
  }
}

#time-container {
  bottom: 0;
  height: 160px;
  position: absolute;
  width: 100%;
  
  #quip {
    text-align: center;
    p {
      padding: 0;
    }
  }

  #time {
    width: 100%;
    display: block;
    height: 15px;
    margin: 10px auto;
    text-align: center;
  }
  
  #slider {
    background-color: rgba($white, 0.5);
    border: $white solid 1px;
    margin: 0 auto;
    width: 290px;
    height: 40px;
    font-size: .9em;
    position: relative;
    
    span {
      width: 18%;
      height: 38px;
      top: 1px;
      background-color: rgba($white, 0.5);
      position: absolute;
      text-align: left;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      width: 54px;
      text-align: center;
      line-height: 40px;
      margin: 0;
      padding: 0;
    }
  }
}


#bike {
  position: fixed;
  bottom: 60%; 
  width: 320px;
  margin-left: -150px;
  display: block;
  left: 50%;  
  height: 160px;
  margin-bottom: -130px;
  div {
    position: absolute;
    bottom: 0;
  }
  .wheel {
    display: block;
     -webkit-animation: infinite-spinning 20s 0s steps(650) infinite;
    width: 103px;
    img {
    }
  }
  #wheel1 {
    left: 20px;
  }       
              
  #wheel2 {
    right: 46px
  }
  .frame {
    bottom: 0px;  
  }            
}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

